<ul class="nav nav-list" style="top: 0px;">
    <li [routerLinkActive]="'active'" style="width: 100%;">
        <a [routerLink]="['dashboard']">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li [routerLinkActive]="'active'" style="width: 100%;">
        <a [routerLink]="['profile']">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Profile </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li [routerLinkActive]="'active'" style="width: 100%;">
        <a [routerLink]="['education']">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Education </span>
        </a>
        <b class="arrow"></b>
    </li>
</ul>